<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title text-lowercase">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        {% assign project_title_text = project.title | default: '' | downcase %}
        {% assign project_desc_text = project.description | default: '' | downcase %}
        {% assign project_category_text = project.category | default: '' | downcase %}
        {% assign project_topic_text = project_title_text | append: ' ' | append: project_desc_text | append: ' ' | append: project_category_text %}
        <div class="theme-tags">
          {% if project_topic_text contains 'soft' or project_topic_text contains 'compliant' or project_topic_text contains 'pneumatic' %}
            <span class="theme-tag">Soft Robots</span>
          {% endif %}
          {% if project_topic_text contains 'tactile' or project_topic_text contains 'acoustic' or project_topic_text contains 'contact' %}
            <span class="theme-tag">Tactile Sensing</span>
          {% endif %}
          {% if project_topic_text contains 'deform' or project_topic_text contains 'hair' or project_topic_text contains 'shape' %}
            <span class="theme-tag">Deformable Manipulation</span>
          {% endif %}
          {% if project_topic_text contains 'award' %}
            <span class="theme-tag award-tag">Award</span>
          {% endif %}
        </div>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
